.wrap{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.header{
    width: 900px;
    height: 100px;
    background: black;
}
.content{
    width: 900px;
    height: 300px;
    background: orange;
}